* {
  font-family: "CircularStd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "CircularStd";
  src: local("CircularStd"),
    url(./fonts/CircularStd/CircularStd-Book.ttf) format("truetype");
}

@font-face {
  font-family: "CircularStd";
  src: local("CircularStd"),
    url(./fonts/CircularStd/CircularStd-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "CircularStd";
  src: local("CircularStd"),
    url(./fonts/CircularStd/CircularStd-Bold.ttf) format("truetype");
  font-weight: 700;
}
